.hero{
    align-items: center;
    color: var(--cream);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 98vw;
    padding: 5rem 13rem;
}
.right-container{
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column
}
.right-container img{
    width: 40rem;
}
.right-container p{
    font-size: .8rem;
}
.left-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.left-container h1{
    font-size: 3em;
    font-weight: 600;
    margin: .3em 0;
}
.left-container h1 span{
    font-weight: 800;
}
.left-container p{
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 400;
}

/* -------------- Media Query -------------- */

@media (max-width: 960px){
    .hero{
        flex-direction: column-reverse;
    }
    .left-container{
        width: 100%;
        font-size: 80%;
    }
    .right-container{
        display: block;
        margin: 0;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .right-container p{
        display: none;
    }
}

@media (max-width: 480px){
    .right-container img{
        width: 100%;
    }
}