.about-container{
    padding: 5rem;
    gap: 1.4em;
    height: 100vh;
}
.about-left{
    width: 60vw;
    align-items: center;
    margin-right: 2rem;
}
.about-left img{
    width: 100%;
}
.about-right{
    width: 40vw;
}
.about-right h1{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}
.about-right p{
    font-size: 1.3em;
}
.skills{
    display: flex;
}

/* -------------- Media Query -------------- */

@media screen and (max-width:960px){
    .about-container{
        flex-direction: column-reverse;
    }
    .about-right,
    .about-left{
        width: 100%;
        justify-content: center;
    }
    .about-right{
        padding-top: 15%;
    }
    .about-right p{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px){
    .about-container{
        height: 100vh;
        padding: 10%;
        margin-top: 15%;
    }
    .about-right h2{
        font-size: .8rem;
    }
    .about-right h1{
        font-size: 1rem;
    }
    .about-right p{
        font-size: 1.2em;
        line-height: 1.4;
    }
    .about-left{
        margin-top: 5%;
    }
}