.tools {
  /* background: rgba(41, 41, 41, 0.2); */
  padding: 1em;
  width: 100%;
  height: 100%;
  /* -webkit-filter: drop-shadow(5px 5px 5px var(--primary));
    backdrop-filter: blur(15px); */
}
.tools h1 {
  font-size: 1.8rem;
  padding-bottom: 3.5rem;
}
.tools h2 {
  font-size: 1.4rem;
}
.language-section {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 0.8em;
  padding-top: 1em;
  padding-bottom: 1.8rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.language-section img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(3px 3px 3px var(--black));
}
.language-section img:hover {
  scale: 1.3;
  transition: ease-in-out 0.1s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--black);
  color: var(--cream);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Media query para tablets grandes y medianas */
@media screen and (max-width: 960px) {
  .tools h1 {
    font-size: 1.6rem;
    padding-bottom: 2.5rem;
  }
  
  .tools h2 {
    font-size: 1.3rem;
  }
  
  .language-section {
    gap: 1em;
    padding-bottom: 1.5rem;
  }
  
  .language-section img {
    width: 45px;
    height: 45px;
  }
  
  .tooltip .tooltiptext {
    width: 100px;
    margin-left: -50px;
    font-size: 0.9rem;
  }
}

/* Media query para tablets pequeñas (alrededor de 575px) */
@media screen and (max-width: 580px) {
  .tools {
    padding: 0.8em;
  }
  
  .tools h1 {
    font-size: 1.4rem;
    padding-bottom: 1.3rem;
  }
  
  .tools h2 {
    font-size: 1.2rem;
  }
  
  .tools h3 {
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  
  .language-section {
    margin: 3px;
    gap: 0.7em;
    padding-top: 0.6em;
    padding-bottom: 1.2rem;
  }
  
  .language-section img {
    width: 35px;
    height: 35px;
  }
  
  .tooltip .tooltiptext {
    width: 90px;
    margin-left: -45px;
    font-size: 0.8rem;
    padding: 4px 0;
  }
}

@media screen and (max-width: 480px) {
  .tools h1 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .tools h2 {
    font-size: 1rem;
  }
  .tools h3 {
    font-size: 0.9rem;
  }
  .tools h5 {
    font-size: 0.7rem;
  }
  .language-section img {
    width: 30px;
    height: 30px;
  }
}
