.tools{
    background: rgba(41, 41, 41, 0.2);
    padding: 1em;
    width: 100%;
    filter: drop-shadow(5px 5px 5px var(--primary));
    -webkit-filter: drop-shadow(5px 5px 5px var(--primary));
    backdrop-filter: blur(15px);
}
.tools h1{
    margin-bottom: .8em;
    font-size: 1.8rem;
}
.tools h2{
    font-size: 1.4rem;
}
.language-section{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    gap: .8em;
    padding-bottom: 1.8rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.language-section img{
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 480px){
    .tools h1{
        font-size: 1.3rem;
    }
    .tools h2{
        font-size: 1rem;
    }
    .tools h3{
        font-size: .9rem;
    }
    .tools h5{
        font-size: .7rem;
    }
    .language-section img{
        width: 30px;
        height: 30px;
    }
}