.contact{
    gap: 10%;
}
.form-text{
    flex-direction: column;
    height: 60vh;
    align-items: flex-start;
}
.contact-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    padding: 25px 0 25px 0;
    align-items: stretch;
    gap: 1.5em;
}
.contact-container img{
    width: 48px;
    height: 48px;
}
.contact{
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    max-width: 90%;
}
.contact-col{
    flex-basis: 48%;
    color: var(--cream);
    height: 60vh;
}
.contact-col h1{
    margin-bottom: .8em;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: rgba(249, 246, 240, 0.3);
    color: var(--cream);
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    font-size: 16px;
    border-radius: 8px;
}
.contact form input::placeholder,
.contact form textarea::placeholder{
    color: var(--primary);
}
.contact-col span{
    display: block;
    margin: 20px 0;
}
iframe{
    border-radius: 10px;
}
.btn{
    background: var(--primary);
    color: var(--cream);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img{
    width: 20px;
    margin-left: 10px;
}

/* --------- Media Query ---------- */

@media (max-width: 700px){
    .contact{
        display: block;
        flex-direction: column;
        width: 100vw;
        font-size: 75%;
    }
    .form-text{
        width: 100vw;
    }
    .contact-col{
        padding: 20px;
        width: 100vw;
    }
    iframe{
        width: 100%;
    }
    .projects-container{
        flex-wrap: nowrap;
        flex-direction: column;
        height: auto;
    }
    .container{
        height: auto;
    }
    .card-project{
        width: 90vw;
        backdrop-filter: none;
        height: auto;
    }
}