.navbar {
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: var(--cream);
  font-size: 1.2rem;
  list-style: none;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar a::after {
  background-color: var(--beige);
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.navbar a:hover::after {
  transform: translateX(0);
}

.active-link {
  color: var(--beige) !important;
  font-weight: 600;
}

.active-link::after {
  transform: translateX(0) !important;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  cursor: grab;
  transition: all 0.3s ease-in-out;
  width: 15rem;
  margin-right: 20px;
}

.toggle-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .navbar {
    padding: 0 4%;
    height: 80px;
  }
  
  .menu-icon {
    display: block;
    z-index: 1001;
  }
  
  .navbar ul {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(41, 41, 41, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    transition: all 0.5s ease;
    z-index: 1000;
  }
  
  .mobile-menu-hidden {
    right: -100% !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
  
  .mobile-menu-active {
    right: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar ul li {
    margin: 15px 0;
  }
  
  .toggle-buttons {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .navbar {
    height: 70px;
    padding: 0 3%;
    background-color: rgba(33, 33, 33, 0.7);
  }
  
  .logo {
    width: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0 3%;
  }
}
