.navbar{
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(41, 41, 41, 0.2);
    display: flex;
    height: 10%;
    justify-content: space-between;
    padding: 20px 30px 20px 40px;
    position: absolute;
    top: 0;
    width: 100%;
    color: var(--cream);
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.navbar img{
    width: 15%;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}
