.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cream);
    padding: 2rem;
    margin: 10px auto;
    border-top: 1px solid var(--cream);
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/* --------- Media Query ---------- */

@media (max-width: 960px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}