.course-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px dashed var(--cream);
    padding: 20px 10px;
    backdrop-filter: blur(15px);
    background: rgba(41, 41, 41, 0.1);
    border-radius: 15px;
}
.course-img{
    display: flex;
    align-content: flex-start;
}
.course-img img{
    width: 10rem;
    margin-right: 2rem;
}
.course-description{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4;
}
.course-description span{
    font-size: small;
    padding: 0 0 .8rem 0;
}