.course-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-bottom: 1px dashed var(--cream);
    padding: 20px 10px;
    border-radius: 15px;
}
.course-img{
    display: flex;
    align-content: flex-start;
    width: 40%;
    padding: 3%;
}
.course-img img{
    width: 100%;
    margin-right: 2rem;
}
.course-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4;
}
.course-description span{
    font-size: small;
    padding: 0 0 .8rem 0;
}

@media (max-width: 480px)  {
    .course-card{
        flex-direction: column;
    }
    .course-img{
        width: 100%;
        align-content: center;
        justify-content: center;
        padding: 5% 0;
    }
    .course-img img{
        width: 60%;
    }

    .course-description h2{
        font-size: 1.2em;
    }
    .course-description p{
        font-size: .9em;
    }
}