@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #12100e;
  --black-blur: rgba(41, 41, 41, 0.2);
  --primary: #2b4162;
  --cream: #f9f6f0;
  --beige-light: #f0f0f0;
  --beige-dark: #4B5563;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background-color: var(--black);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
::selection {
  background-color: var(--primary);
}

.App {
  background: linear-gradient(
    315deg,
    var(--beige-dark) 0%,
    var(--beige-light) 50%,
    var(--beige-dark) 100%
  );
  color: var(--black);
}

.App.dark {
  background: linear-gradient(315deg, var(--primary) 0%, var(--black) 74%);
  color: var(--cream);
}

body {
  /* background: linear-gradient(315deg, var(--primary) 0%, var(--black) 74%); */
  background-position: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  place-items: center;
}

.container {
  align-items: center;
  /* color: var(--cream); */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
  padding: 0 1rem;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .container {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    padding: 10%;
    padding-top: 6rem;
    margin-bottom: 5rem;
  }
}
